# created by virtualenv automatically
.idea
.venv/
.env

pycache
media\documents
media\flashcard_images
db.sqlite3
accountapp\migrations
contactinquiryapp\migrations
flashcardapp\migrations
reportapp\migrations
testapp\migrations
studysetapp\migrations
templates