# created by virtualenv automatically
.idea
.venv/
.env

__pycache__/
media\documents
media\flashcard_images
db.sqlite3
accountapp\migrations
contactinquiryapp\migrations
flashcardapp\migrations
reportapp\migrations
testapp\migrations
studysetapp\migrations
templates
data.sql
accountapp/migrations/0001_initial.py
contactinquiryapp/migrations/0001_initial.py
flashcardapp/migrations/0001_initial.py
reportapp/migrations/0001_initial.py
studysetapp/migrations/0001_initial.py
testapp/migrations/0001_initial.py
accountapp/migrations/0002_user_archive_date.py
accountapp/migrations/0001_initial.py
contactinquiryapp/migrations/0001_initial.py
db.sqlite3
flashcardapp/migrations/0001_initial.py
flashcardapp/migrations/0002_flashcard_deleted_at_flashcard_is_ai_generated_and_more.py
reportapp/migrations/0001_initial.py
studysetapp/migrations/0001_initial.py
testapp/migrations/0001_initial.py
