# created by virtualenv automatically
.idea
.venv/
.env

__pycache__
media
athAIna_backend/
db.sqlite3
accountapp/migrations
contactinquiryapp/migrations
flashcardapp/migrations
reportapp/migrations
testapp/migrations
studysetapp/migrations
templates
db.sqlite3
*.sqlite3
