services:
  redis:
    container_name: redis_server
    image: redis:7.4.1-alpine
    ports:
      - 6379:6379
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 256M
  django:
    container_name: django_website
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - 8009:8000
    env_file:
      - .env
    depends_on:
      - mysql_db
      - redis
    deploy:
      resources:
        limits:
          memory: 512M
  celery:
    container_name: celery_worker
    build:
      context: .
      dockerfile: ./Dockerfile
    command: celery --app=athAIna_backend worker --loglevel=info
    volumes:
      - .:/usr/src/app
    ports:
      - 8001:8000
    env_file:
      - .env
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 512M
  mysql_db:
    container_name: mysql_database
    image: mysql:latest
    restart: always
    ports:
      - 3307:3306
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    environment:
      PMA_HOST: mysql_db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    restart: unless-stopped
    ports:
      - 8080:80
    depends_on:
      - mysql_db
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
    restart: unless-stopped
volumes:
  mysql_data: