services:
  redis:
    container_name: redis_server
    image: redis:7.4.1-alpine
    ports:
      - 6379:6379
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 256M
  django:
    container_name: django_website
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - 8009:8000
    env_file:
      - .env
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 512M
  celery:
    container_name: celery_worker
    build:
      context: .
      dockerfile: ./Dockerfile
    command: celery --app=athAIna_backend worker --loglevel=info
    volumes:
      - .:/usr/src/app
    ports:
      - 8001:8000
    env_file:
      - .env
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 512M
  db:
    container_name: mysql_database
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3307:3306
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    links:
      - db
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PMA_ARBITRARY=0
      - PMA_HOST=host.docker.internal
    restart: unless-stopped
    ports:
      - 8081:80
    depends_on:
      - db
volumes:
  mysql_data: