services:
  redis:
    image: redis:7.4.1-alpine
  django:
    container_name: django
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - 8009:8000
    env_file:
      - .env
    depends_on:
      - redis
  celery:
    container_name: celery
    build:
      context: .
      dockerfile: ./Dockerfile
    command: celery --app=athAIna_backend worker --loglevel=info
    volumes:
      - .:/usr/src/app
    ports:
      - 8001:8000
    env_file:
      - .env
    depends_on:
      - redis
  db:
    image: mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - .env

volumes:
  mysql_data: